#map-container {
    position: relative;
}

#map {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

#caixa-legenda {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 2px solid rgba(170, 170, 170, 0.8);
    border-radius: 3px;
}

#titulo-legenda {
    font-size: 15px;
    font-family: Arial;
    font-weight: 550;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.item-legenda {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.item-legenda img {
    width: 15px;
    height: 15px;
    padding-right: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.item-legenda span {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-family: Arial;
}